// Import Bootstrap's core functions and variables
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

// Define your custom colors map
$main-colors: (
  "darkgreen": #103931,
  "lightgray": #f3f3f3,
  "midgray": #8a8a89,
);

// Merge custom colors into Bootstrap's theme-colors map
$theme-colors: map-merge($main-colors, $theme-colors);

// Import Bootstrap's core styles after defining your variables and colors
@import "../../node_modules/bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");

:root {
  --bs-body-font-family: "Geologica", sans-serif;
}
